Time Schedule:
The event is divided into three phases:
- Pre-event phase: 15 November, 00:00 UTC - 25 November 2022, 10:00 UTC
- Match phase: 20 November, 00:00 UTC - 18 December 2022, 15:00 UTC
- Rewards redemption phase: 19 December, 00:00 UTC - 26 December 2022, 00:00 UTC
How to participate:
Earn BALLs by completing various tasks on this website page, then use the BALLs to play the prediction game on the Football Festival 2022 matches.
